<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Orphee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1ECEFB141CA5F5D100D1719F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52C61D941A79E5C400B3DE23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52C61DA91A79E5C400B3DE23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6864DB1BF7E2C800D3D6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB8E61D81ABB4D2B005BF7B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB8E61E91ABB4D86005BF7B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
